<!DOCTYPE html>
<html>
	<style>
		@font-face {
		    font-family: roboto;
		    src: url({{ url_for('static', filename='fonts/roboto/Roboto-Regular.woff') }});
		}

		body {
			font-family: roboto;
		}

		img {
			max-width: 100%;
			max-height: 100vh;
			height: auto;
		}

		.screen {
			background: #ff6860;
			border: 1px solid #474e5d;
			border-radius: 1px;
			overflow: hidden;
		}

        #content-desktop {display: block;}
        #content-mobile {display: none;}

        @media screen and (max-width: 768px) {

        #content-desktop {display: none;}
        #content-mobile {display: block;}

        }
	</style>
	
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mobile-1.5.0-alpha.1.min.css') }}"/>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mobile-1.5.0-alpha.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mousewheel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.finger.min.js') }}"></script>

		<!--
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.finger.min.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mobile-1.5.0-alpha.1.min.css') }}"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mobile-1.5.0-alpha.1.min.js') }}"></script>
        -->


		<title>RemotePy Desktop</title>
	</head>

	<body >

        <!--Screen to stream PC's screen onload = "JavaScript:AutoRefresh(5000);"-->
		<div class="row">
			<div class="col" tabindex="-1">
				<img style="margin-left: 80px; margin-top: 5px " class="screen" id="screen" src="{{ url_for('video_feed') }}" width = 88%
                     height = 100% draggable="false" tabindex="-1">
            </div>
		</div>
         <!--Only appear on mobile-->
        <div class="container" id="content-mobile">
            <!--text area-->
            <div class="row">
                    <div class="col">
                        <label style="margin-bottom: 5px" class="text-dark"><strong>Input text to send</strong></label>
                        <textarea id="typeText" class="form-control border-dark" rows="3"></textarea>

                    </div>


            </div>
            <!--button send text from text area-->
            <div class="row">
                <div class="col">

                    <button class="btn btn-primary" type="button" id="text" tabindex="-1" >
                        <i class="fa fa-send"></i> </button>
                    <button class="btn btn-danger" type="button" id="text" tabindex="-1" onclick="clearTextArea()">
                        <i class="fa fa-trash"></i> </button>

                    <button class="btn btn-warning keyboard" type="button" id="backspace" tabindex="-1" >
                        <i class="fa fa-backspace"></i> </button>
                    <button class="btn btn-warning keyboard" type="button" id="enter" tabindex="-1" >
                        <i class="fa fa-level-down-alt fa-rotate-90"></i> </button>

                    <button class="btn btn-warning keyboard" type="button" id="up" tabindex="-1" >
                        <i class="fa fa-arrow-alt-circle-up"></i> </button>
                    <button class="btn btn-warning keyboard" type="button" id="down" tabindex="-1" >
                        <i class="fa fa-arrow-alt-circle-down"></i> </button>
                    <button class="btn btn-warning keyboard" type="button" id="left" tabindex="-1" >
                        <i class="fa fa-arrow-alt-circle-left"></i> </button>
                    <button class="btn btn-warning keyboard" type="button" id="right" tabindex="-1" >
                        <i class="fa fa-arrow-alt-circle-right"></i> </button>


                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <!-- Choose file button-->
                <div class="col">
                        <form action="" method=post enctype=multipart/form-data>

                            <div class="form-group" >
                                <input class="form-control-file form-control-sm" type=file name=file
                                       style="margin-bottom: 5px" id="upload_file" tabindex="-1" >
                                <br>
                                <label size="20px" class="text-dark"><strong>Choose file to transfer to PC</strong></label>
                                <br>
                                <a href="#upload_file" id="clear">Clear</a>
                                <div class="progress">
                                    <div class="progress-bar" id="progress-bar"></div>
                                </div>
                            </div>

                        </form>
                </div>
                <!-- Upload Button-->
                <div class="col">
                        <button class="btn btn-primary" type="button" id="upload_button" tabindex="-1" >
                            <i class="fa fa-cloud-upload"></i> Upload to Remote PC</button>
                </div>

                <!-- Download Button-->
                <div class="col">
                    <a href="/downloadfile/"  tabindex="-1">
                    <button class="btn btn-primary" type=submit id="download" tabindex="-1">
                        <i class="fa fa-cloud-download"></i> Download to current device</button>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <a href="/sign_out" tabindex="-1">
                    <button class="btn btn-danger" id="text">Log out</button>
                    </a>
                </div>
            </div>
        </div>


	</body>

	<script>
        // Auto Refresh page function
        function AutoRefresh( t ) {
               setTimeout("location.reload();", t);
            }

        // Setup to the clear choose file before upload
        $("#clear").on("click", function()
        {
            $("#upload_file").replaceWith( $("#upload_file").val('').clone( true ) );
        });


        function clearTextArea() {
            document.getElementById("typeText").value = "";
        }

		function get_xy(event, offset){
			// function to get position of event on image
			if(event.pageX == null){
				// for mobile
				var x = event.x - offset.left
				var y = event.y - offset.top;
			}
			else{
				// for pc
				var x = event.pageX - offset.left
				var y = event.pageY - offset.top;

			}

			return [x,y];
		}


		function mouse_event(screen, event, type) {
			var offset = screen.offset();
			var point = get_xy(event, offset);
			console.log(type);

			$.ajax({
				type: 'POST',
				url: "/mouse",
				data: {
						"type": type,
						"x": point[0],
						"y": point[1],
						"X": screen.width(),
						"Y": screen.height()
					},
                timeout: 3000,
				success: function(result) { }
			});
		}
        // Keyboard event for click button on mobile
		function keyboard_event(type) {
			console.log(type);

			$.ajax({
				type: 'POST',
				url: "/button",
				data: {
				        "type": "text",
						"type": type
					},
				success: function(result) { }
			});
		}


		$(document).ready(function() {

			$.Finger.doubleTapInterval = 2000;
			document.oncontextmenu = function() {return false;};

			<!--mouse action jquery -->
			/*$('#screen').on('doubletap dblclick', function(event) {
				var screen = $(this);
				mouse_event(screen, event, "dblclick");
			});*/
            // Button on mobile screen click
			$('.keyboard').click(function(event) {
				keyboard_event(this.id);
			});

            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if (isMobile) {
                  $('#screen').on("tap", function tapHandler(event) {
                    var screen = $(this);
                    mouse_event(screen, event, "click");
                    });

                  $('#button').on('keyup', function(event){
                        if(event.keyCode == 13){
                            $('#enter').click();
                        }else if(event.keyCode == 8){
                            $('#backspace').click();
                        }else if(event.keyCode == 38) {
                            $('#up').click();
                        }else if(event.keyCode == 40){
                            $('#down').click();
                        }else if(event.keyCode == 37){
                            $('#left').click();
                        }else if(event.keyCode == 39){
                            $('#right').click();
                        }
			        });

            }
            else {
                <!--Remove Click and Double Click, Add mouse press and mouse release-->
                $('#screen').on('mousedown', function(event) {
                    event.preventDefault();
                    var screen = $(this);
                    mouse_event(screen, event, "mousepress");

                    <!--Add check mouse position (for drag action) -->
                    $('#screen').on('mousemove', function(event) {
                        event.preventDefault();
                        var screen = $(this);
                        mouse_event(screen, event, "mousemove");
                    });

                });
                $('#screen').on('mouseup', function(event) {
                    event.preventDefault();
                    var screen = $(this);
                    mouse_event(screen, event, "mouserelease");
                    $('#screen').off('mousemove');
                });
            }



			$('#screen').on('taphold contextmenu', function(event) {
				event.preventDefault();
				var screen = $(this);
				mouse_event(screen, event, "rightclick");
			});
            <!--Add mousescroll up and down -->
			$('#screen').on('mousewheel', function(event) {
				event.preventDefault();
				var screen = $(this);
                if(event.originalEvent.wheelDelta > 0) {
                    mouse_event(screen, event, "mousewheelup");
                }
                else{
                    mouse_event(screen, event, "mousewheeldown");
                }

			});
            //<!--Add check mouse position (for drag action) -->
            //$('#screen').on('mousemove', function(event) {
			//	event.preventDefault();
			//	var screen = $(this);
			//	mouse_event(screen, event, "mousemove");
			//	setTimeout(this,100);
			//});

            /* Send text keyboard, click on empty space to activate keyboard oneye */

			$('html').keydown(function(event) {
                var text    = event.key;
                if (text == "ArrowDown")
                {
                    text = "down";
                }
                else if (text == "ArrowUp")
                {
                    text = "up";
                }
                else if (text == "ArrowLeft")
                {
                    text = "left";
                }
                else if(text == "ArrowRight")
                {
                    text = "right";
                }
				console.log(text);
				$.ajax({
					type: 'POST',
					url: "/keyboard",
					data: {
					        "type": "keyboard",
							"text": text
						},

					success: function(result) { }
				});
			});

            /* Send text area*/
			$('#text').click(function(event) {
				var text = document.getElementById('typeText').value;
				console.log(text);
				$.ajax({
					type: 'POST',
					url: "/button",
					data: {
							"type": "text",
							"text": text
						},
					success: function(result) { }
				});
				document.getElementById("typeText").value = "";
			});

			$('#upload_button').click(function(event) {
			    var fd = new FormData();
			    var files = $('#upload_file')[0].files;
				if(files.length > 0 ){
                   fd.append('file',files[0]);
                   $.ajax({
                      url: '/upload_file/',
                      type: 'post',
                      data: fd,
                      contentType: false,
                      processData: false,
                      //success: function(response){}
                       error: function (data) {
                            layer.msg('upload failed', {
                                icon: 2,
                                time: 1000 // 1 second off (if not configured, the default is 3 seconds)
                            });
                        },

                       success: function (data)
                       {
                            if (data.code == 1) {
                                layer.msg('Uploaded successfully', {
                                    icon: 1,
                                    time: 1000 // 1 second off (if not configured, the default is 3 seconds)
                                }, function () {
                                    parent.location.reload();
                                });
                            }
                            else {
                                layer.msg(data.msg, {
                                    icon: 2,
                                    time: 1000 // 1 second off (if not configured, the default is 3 seconds)
                                });
                            }
                        },
                       xhr: function () {
                            myXhr = $.ajaxSettings.xhr();
                            if (myXhr.upload) { // check upload property exists
                                // Bind event callback progress
                                myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                            }
                            return myXhr; // xhr object back to using jQuery
                        }

                   });

                }
			});
            function progressHandlingFunction(event) {
                var loaded = Math.floor(100 * (event.loaded / event.total)); // percentage has been uploaded
                $("#progress-bar").html(loaded + "%").css("width", loaded + "%");
            }






		
		});
	</script>
</html>